////
/// PX-BUTTONS-DESIGN
/// Defines simple button objects
/// @group px-buttons-design
////

@import "../px-defaults-design/settings.defaults";
@import "../px-mixins-design/tools.mixins";
@import "../px-functions-design/tools.functions";


/// @type String [default] - Prepend value for all generated classes
$inuit-btn-namespace                                : $inuit-namespace !default;

/// @type Color [default] - Background color
$inuit-btn-background                               : rgb(49,113,227) !default;

/// @type Color - Hover color
$inuit-btn-background--hover                        : linear-gradient(180deg, rgb(52,178,252) 0%, $inuit-btn-background 100%);

/// @type Color - Active color
$inuit-btn-background--active                       : linear-gradient(0deg, rgb(52,178,252) 0%, $inuit-btn-background 100%);

/// @type Color [default] - Font color
$inuit-btn-color                                    : rgb(255,255,255) !default;

/// @type Number [default] - Border width
$inuit-btn-border-width                             : 0 !default;

/// @type String [default] - Border style
$inuit-btn-border-style                             : solid !default;

/// @type Color [default] - Border color
$inuit-btn-border-color                             : $inuit-btn-background !default;

/// @type Color [default] - Inverse background color
$inuit-btn-negative-background                      : rgb(223,223,223) !default;

/// @type Color - Inverse background hover color
$inuit-btn-negative-background--hover               : linear-gradient(180deg, $inuit-btn-negative-background 0%, rgb(187,186,188) 100%);

/// @type Color - Inverse background active color
$inuit-btn-negative-background--active              : linear-gradient(0deg, $inuit-btn-negative-background 0%, rgb(187,186,188) 100%);

/// @type Color [default] - Inverse font color
$inuit-btn-negative-color                           : rgb(42,42,42) !default;

/// @type Number [default] - Border radius
$inuit-btn-radius                                   : 3px !default;

/// @type Boolean [default] - Produce CSS for small buttons?
$inuit-enable-btn--small                            : false !default;

/// @type Boolean [default] - Produce CSS for large buttons?
$inuit-enable-btn--large                            : false !default;

/// @type Boolean [default] - Produce CSS for huge buttons?
$inuit-enable-btn--cta                              : false !default;

/// @type Boolean [default] - Produce CSS for full buttons?
$inuit-enable-btn--full                             : false !default;

/// @type Boolean [default] - Produce CSS for pill buttons?
$inuit-enable-btn--pill                             : false !default;

/// @type Boolean [default] - Produce CSS for bare buttons?
$inuit-enable-btn--bare                             : false !default;

/// @type Boolean [default] - Produce CSS for inverse buttons?
$inuit-enable-btn--negative                         : false !default;

/// @type Boolean [default] - Produce CSS for disabled buttons?
$inuit-enable-btn--disabled                         : false !default;

/// @type Boolean [default] - Assume `box-sizing : border-box;`
$inuit-global-border-box                            : false !default;

@if import-once('objects.buttons') {
  
  /**
  * 1. Allow us to style box model properties.
  * 2. Line different sized buttons up a little nicer.
  * 3. Make buttons inherit font styles (often necessary when styling `input`s as
  *    buttons).
  * 4. Reset/normalize some styles.
  * 5. Force all button-styled elements to appear clickable.
  * 6. Fixes odd inner spacing in IE7.
  * 7. Subtract the border size from the padding value so that buttons do not
  *    grow larger as we add borders.
  */
  .#{$inuit-btn-namespace}btn,
  %#{$inuit-btn-namespace}btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    margin:  0; /* [4] */
    padding-right: 1em;
    padding-left: 1em;
    cursor: pointer; /* [5] */
    overflow: visible; /* [6] */
    background: $inuit-btn-background;
    -webkit-font-smoothing: antialiased;
  
    @if($inuit-btn-border-width != 0) {
        border: $inuit-btn-border-width $inuit-btn-border-style $inuit-btn-border-color;
        line-height: 2em;
    }
    
    @else {
        border: 0;
        padding-top: 1px;
        padding-bottom: 1px;
        line-height: calc(2em - 2px);
    }
  
    @if($inuit-btn-radius != 0) {
        border-radius: $inuit-btn-radius;
    }
  
    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none; /* [4] */
        color: $inuit-btn-color;
    }
    
    &:hover,
    &:focus {
      background: $inuit-btn-background--hover;
    }
    
    &:active {
      background: $inuit-btn-background--active;
    }
  
  }
  
  
  /**
  * Establish default space between adjacent buttons
  */
  .#{$inuit-btn-namespace}btn + .#{$inuit-btn-namespace}btn {
    margin-left: $inuit-base-spacing-unit--small;
  }


  
  @if ($inuit-enable-btn--small == true) {
  
    /**
     * Small buttons.
     */
  
    .#{$inuit-btn-namespace}btn--small,
    %#{$inuit-btn-namespace}btn--small {
        font-size: calculateRem(12px);
        
        @if($inuit-btn-border-width != 0) {
            line-height: 1.6666666667em;
        }
        
        @else {
            border: 0;
            padding-top: 1px;
            padding-bottom: 1px;
            line-height: calc(1.6666666667em - 2px);
        }
    }
  
  }
  
  @if ($inuit-enable-btn--large == true) {
  
    /**
     * Large buttons.
     */
  
    .#{$inuit-btn-namespace}btn--large,
    %#{$inuit-btn-namespace}btn--large {
        font-size: $inuit-base-spacing-unit--large;
    }
  
  }
  
  @if ($inuit-enable-btn--cta == true) {
  
    /**
     * Call-to-action buttons.
     */
  
    .#{$inuit-btn-namespace}btn--cta,
    %#{$inuit-btn-namespace}btn--cta {
        font-size: $inuit-base-spacing-unit--huge;
    }
  
  }
  
  
  
  @if ($inuit-enable-btn--full == true) {
  
    /**
     * Full-width buttons.
     */
  
    .#{$inuit-btn-namespace}btn--full,
    %#{$inuit-btn-namespace}btn--full {
        width: 100%;
  
        @if $inuit-global-border-box == false {
            /**
             * Remove paddings so that widths and paddings don’t conflict.
             */
            padding-right: 0;
            padding-left:  0;
        }
  
    }
  
  }
  
  
  
  
  
  @if ($inuit-enable-btn--pill == true) {
  
    /**
     * Round-ended buttons.
     *
     * 1. Overly-large value to ensure the radius rounds the whole end of the
     *    button.
     */
  
    .#{$inuit-btn-namespace}btn--pill,
    %#{$inuit-btn-namespace}btn--pill {
        border-radius: 100px; /* [1] */
    }
  
  }
  
  
  
  
  
  @if ($inuit-enable-btn--bare == true) {
    
    /**
     * Buttons with no styles (good a11y practice to use <button> for actions rather than <a>.
     */
  
    .#{$inuit-btn-namespace}btn--bare,
    %#{$inuit-btn-namespace}btn--bare {
      border: 0;
      border-radius: 0;
      padding: 0;
      line-height: inherit;
      text-transform: none;
      &,
      &:hover,
      &:active,
      &:focus {
        background: transparent;
        background-image: none;
        color: inherit;
      }
    }
  
  }
  
  
  
  @if ($inuit-enable-btn--negative == true) {
    
    /**
     * Change button colors for buttons with negative outcomes
     */
  
    .#{$inuit-btn-namespace}btn--negative,
    %#{$inuit-btn-namespace}btn--negative {
      background: $inuit-btn-negative-background;
      color: $inuit-btn-negative-color;
      &,
      &:hover,
      &:active,
      &:focus {
        color: $inuit-btn-negative-color;
      }
      &:hover,
      &:focus {
        background: $inuit-btn-negative-background--hover;
      }
      &:active {
        background: $inuit-btn-negative-background--active;
      }
    }
  
  }
  
  
  
  @if ($inuit-enable-btn--disabled == true) {
    
    /**
     * Change button colors for buttons with negative outcomes
     */
  
    .#{$inuit-btn-namespace}btn--disabled,
    %#{$inuit-btn-namespace}btn--disabled {
      &,
      &:hover,
      &:active,
      &:focus {
        border: 1px solid rgb(212,212,212);
        padding-top: 0;
        padding-bottom: 0;
        background: rgb(255,255,255);
        color: rgb(187,187,187);
      }
    }

    .btn[disabled] {
      @extend %#{$inuit-btn-namespace}btn--disabled;
    }

  }

}
