.btn-bare {
  border: 0;
  padding: 0;
  &,
  &:hover,
  &:active,
  &:focus {
    background: transparent;
    color: inherit;
  }
}

.btn .fa {
  font-size: .75em;
}

.btn span + .fa {
  font-size: inherit;
}