$imported-once-files        : ();

// Settings
@import "../px-defaults-design/settings.defaults";

// Tools
@import "../px-functions-design/tools.functions";
@import "../px-mixins-design/tools.mixins";

// Generic
@import "../px-normalize-design/generic.normalize";
@import "../px-box-sizing-design/generic.box-sizing";
@import "../px-helpers-design/generic.helpers";

// Base
@import "../px-viewport-design/base.viewport";
@import "../px-flexbox-design/base.flexbox";
@import "../px-typography-design/base.typography";
@import "../px-code-design/base.code";

// Trumps
@import "../px-clearfix-design/trumps.clearfix";

$inuit-enable-margins       : true;

@import "../px-spacing-responsive-design/trumps.spacing-responsive";
@import "../px-widths-responsive-design/trumps.widths-responsive";

// Buttons

$inuit-enable-btn--tiny     : true;
$inuit-enable-btn--small    : true;
$inuit-enable-btn--large    : true;
$inuit-enable-btn--huge     : true;
$inuit-enable-btn--full     : true;
$inuit-enable-btn--pill     : true;

$inuit-enable-btn--bare     : true;
$inuit-enable-btn--negative : true;
$inuit-enable-btn--disabled : true;

@import "../objects.buttons";

.flex .btn {
  @extend %flex__item--baseline;
}